// MAIN STYLESHEET -- style.scssgu

// Imports ***********************
@import 'reset';
@import 'colors';
@import 'unsemantic/unsemantic-grid-responsive-tablet-no-ie7';
* {
	box-sizing: border-box;
	font-family: lato, sans-serif;}

// MISC Mixins & Classes ********
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.active {display: block !important;}
.hidden {display: none !important;}

html,body {height: 100%;}

body {text-rendering: optimizeLegibility}

// Main block components *********
section {position: relative;}


// Header ***********************
header {
	position: relative;
	img {width: 100%;}

}




#intro {
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 3em 0 0 0;
	font-family: 'lato', sans-serif;
	.info{
	margin-bottom: 4em;
	.logo {
		max-width: 225px;
		display: inline-block;
		margin-bottom: 1em;

	}
	// .date {
	// 	font-family: 'lato', sans-serif;
	// 	color: #c1c1c1;
	// 	font-size: 1em;
	// 	text-align: center;
	// 	padding-bottom: 20px;
	// }
	p {
		font-family: 'lato', sans-serif;
		color: #666666;
		text-align: center;
		line-height: 1.4em;
		font-size: 1em;
		padding: 0 20% 20px 20%;
	}
	.learnmore {
		font-weight: 900;
		color: $maingrey;
		a {color: $blue; text-decoration: none; &:hover {text-decoration: underline;}}
	}
	}


	.inputs {
	overflow: auto;
	background-color: $lightgrey;
	form {

		padding-top: 2em;

		font-family: 'lato', sans-serif;
		text-align: left;
		h2 {
			color: $maingrey;
			font-size: 1.5em;
			font-weight: 900;
		}
		label {
			color: #666;
			font-size: 1.2em;
			padding: 1em 0 .3em 0;
			display: inline-block;
			font-weight: 700;

		}
		input {
			border-radius: 0;
			background-color: white;
			color: $maingrey;
			border: 1px solid $greyborder;
			font-size: 1em;
			width: 100%;
			padding: .75em;
			display: block;
			margin-top: .5em;
		}
		textarea {
			@extend input;
			height: 6em;
		}
		input[type=submit] {
			margin: 2em 0;
			background-color: $blue;
			color: white;
			font-weight: 900;
			&:hover {background-color: lighten($blue,5%); cursor: pointer; cursor: hand;}

		}
	}
}
}

// Footer *************************
footer {
	background-color: $blue;
	padding: 2em 0;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	
	.icons {
		position: relative;
		text-align: center;
		a {
			color: $blue;
			text-decoration: none;
			font-size: 1.5em;
			margin: 0 .4em;
			padding: 10px;
			background-color: white;
			line-height: 3.5em;
			transition: .35s all;
			&:hover {color: lighten($blue,15%); border-radius: 3px}
		}
	}
	span {
		font-family: 'lato', sans-serif;
		color: white;

	}

}

